


<svg class="shadow" style="width: 150px; height:150px;">
    <rect x="0" y="0" width="150" height="150" fill="#bada55" />
</svg>

<svg style="width: 150px; height:150px; background-color: #eee">
  <rect width="140" height="140" x="5" y="5" fill="orange" />
</svg>

<svg class="shadow" style="width: 150px; height:150px;">
    <rect x="0" y="0" width="150" height="150" fill="#b99a55" />
</svg>


<svg class="shadow" style="width: 150px; height:150px;">
    <rect x="0" y="0" width="150" height="150" fill="#9a55" />
</svg>
