<dv-hero *ngIf="newContainer('dv-hero')" [@enterAnimation]></dv-hero>
<!-- <dv-band></dv-band> -->
<!-- <dv-bio></dv-bio> -->
<!-- <dv-news></dv-news> -->
<!-- <dv-disco></dv-disco> -->
<!-- <dv-events></dv-events> -->
<!-- <dv-links></dv-links> -->
<!-- <dv-media></dv-media> -->
<!-- <dv-photos></dv-photos> -->
<dv-promo *ngIf="newContainer('dv-promo')" [@enterAnimation]></dv-promo>
<!-- <dv-videos></dv-videos> -->
<!-- <dv-shop></dv-shop> -->
<!-- <dv-tour></dv-tour> -->

<!-- <dv-contact></dv-contact> -->

<br>

<!-- {{ message }} -->
