<div class="container">  
  <div class="left">
    <ul>
      <li><a>face</a></li>
      <li><a>insta</a></li>
      <li><a>twitter</a></li>
      <li><a>✧</a></li>
    </ul>
  </div>

  <div class="right">

  </div>
</div>




<!--
Link para matéria: https://www.nexojornal.com.br/expresso/2019/05/23/A-for%C3%A7a-da-direita-na-reelei%C3%A7%C3%A3o-de-Narendra-Modi-na-%C3%8Dndia

© 2019 | Todos os direitos deste material são reservados ao NEXO JORNAL LTDA., conforme a Lei nº 9.610/98. A sua publicação, redistribuição, transmissão e reescrita sem autorização prévia é proibida.

-->